.about{
    .about-content{
        p:first-child{
            margin-top:0;
        }
    }
    .about-pic-wrapper {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;
        @include breakpoint(max-width $pad-width){
            display: block;
            .company-descr{
                margin-top: 12px;
                margin-left: 0;;
            }
        }
        .company-descr{
            margin-left: 18px;
            font-style: italic;
            text-align: left;
            ul{
                list-style: none;
                margin: 0;
                padding:0;
                display: table;
                li{
                    display: table-row;
                    span{
                        padding-bottom: 1em;
                        display: table-cell;
                    }
                    .prop-value{
                        font-weight: 700;
                        padding-left: 4px;
                    }
                }
            }
        }
    }
    .about-pic{
        height: auto;
        max-width: 300px;
        border: 1px solid $color-border;
        @include breakpoint(max-width $pad-width){
            width: 200px;
        }
    }
    .detail-link{
        margin-top: 12px;
        @include breakpoint(max-width $pad-width){
            text-align: center;
        }
    }
}
#ya-map{
    border: 1px solid $color-border;
    height: 400px;
}