.bx-breadcrumb{
    display: flex;
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    >div{
        margin-right: 5px;
    }
    .bx-breadcrumb-item:last-child span{
        color: $color-dark
    }
}