.bx-breadcrumb{
    display: flex;
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    flex-wrap: wrap;
    @include breakpoint(max-width $pad-width){
        display:none;
    }
    >div{
        margin-right: 5px;
    }
    .bx-breadcrumb-item:last-child span{
        color: $color-dark
    }
}