.doc-list{
    .doc-item{
        padding-top:20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        &:first-child{
            padding-top: 0;
        }
    }
    .icon-cell{
        margin-right: 12px;
        .svg-icon{
            width: 42px;
            height: 42px;
        }
    }
    .cell{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }
    .doc-name{
        margin-bottom: 4px;
        font-size: 1.2em;
    }
    .doc-info{
        text-transform: uppercase;
    }
}
