.form-header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 1em;
}
.feeback-from{
    max-width: 520px;
    .table-cell{
        vertical-align: middle;
        padding-bottom: 1em;
        padding-right: 8px;
    }
    .button-cell{
        text-align: center;
    }
    label{
        font-weight: 700;
    }
    .is-required-Y{
        position: relative;
    }
    span.required-asterix {
        position: absolute;
        color: red;
        font-size: 26px;
    }
    .input.error{
        border-color: red;
    }
    .req-text{
        font-style: italic;
    }
    .required-asterix-inline{
        color: red;
        font-size: 26px;
        line-height: 0.4;
        display: inline-block;
        vertical-align: bottom;
    }
}
.box-msg-row {
    text-align: center;
    margin-top: 20px;
}
.box-msg.green{
    color: green;
}
.box-msg.red{
    color: red;
}
