#left-menu{
    list-style: none;
    margin: 0;
    padding:0;
    >li{
        border-bottom: 1px solid $color-border;
        margin-bottom: 16px;
        padding-bottom: 16px;
    }
    >li>a{
        font-weight: 500;
        font-size: 15px;
        position: relative;
        padding-right: 1em;
        color: $color-accent;
        text-transform: uppercase;
        display: block;
        &.root-item{

        }
        &.root-item-selected{
            color: #014599;
        }
        &.root-item-selected+ul{
            display: block;
        }
    }
    >li{
        >ul{
          margin: 0;
          padding: 0;
          list-style: none;
          line-height: 1em;
          margin-top: 10px;
            //display: none;
            a{
                display: block;
                text-decoration: none;
                padding: 0px 0;
                line-height: 1.3em;
                color: #272727;
                margin-bottom: 6px;
                font-size: 15px;
                &:hover{
                  color: #0061d9;
                }

                &.item-selected{
                  color: #0061d9;
                  text-decoration: underline;
                }
            }
        }
    }
}