#left-menu{
    list-style: none;
    margin: 0;
    padding:0;
    >li{
        border-bottom: 1px solid $color-border;
        margin-bottom: 16px;
        padding-bottom: 16px;
    }
    >li>a{
        font-weight: 500;
        font-size: 18px;
        position: relative;
        padding-right: 1em;
        color: $color-accent;
        &.root-item-selected{
            color: #014599;
        }
        &.root-item-selected+ul{
            display: block;
        }
    }
    >li{
        >ul{
            margin: 0;
            padding: 0;
            list-style: none;
            //display: none;
            a{
                display: block;
                text-decoration: none;
                padding: 5px 0;
                line-height: 1.4em;
                color:#5f5f5f;
                &:hover, &.item-selected{
                    color: #000;
                }
            }
        }
    }
}