.links-block{
    padding-bottom: 80px;
    background-color:#fff;
    border-top: 1px solid#ccc;
}
.links-slider{
    &.not-loading{
        height: 108px;
        >*{
            opacity: 0;
        }
    }
    .link-slide{
        .link-pic{
            text-align: center;
            display: flex;
            justify-content: center;
            align-content: center;
            height: 120px;
            a{
                display: flex;
                vertical-align: middle;
                flex-direction: column;
                justify-content: center;
            }
            img{
                display: inline-block;
            }
        }
        .link-name{
            text-align: center;
            a{
                color: $color-dark;
                text-decoration: none;
                &:hover{
                    color: $color-accent;
                }
            }
        }
    }
}