.news-cmp{
    .news-list{
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;
        .news-item{
            margin: 12px;
            width: calc(33.33% - 24px);
            background-color: #f9f9f9;
            height: 266px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid $color-border;
            cursor: pointer;
            text-decoration: none;
            color: $color-dark;
            &:hover{
                border-color: $color-accent;
                .item-info{
                    background-color: $color-accent;
                }  
            }
            @include breakpoint(max-width $pad-width){
                width: calc(50% - 24px);
            }
            @include breakpoint(max-width $mobile-width){
                width: 100%;
            }
            .item-img{
                .news-img{
                    background-size: cover;
                    height: 140px;
                    width: 100%;
                    display: block;
                    border-bottom: 1px solid $color-border;
                }
            }
            .item-name{
                padding: 10px;
                line-height: 1.2;
                margin-top: 4px;
                font-weight: 700;
                height: 70px;
                overflow: hidden;
            }
            .item-info{
                background-color: $color-primary;
                padding: 8px;
                font-size: 14px;
                font-weight: 300;
                color: $color-white;
                display: flex;
                justify-content: space-between;
                .table-cell{
                    vertical-align: middle;
                }
                .item-value{
                    padding-left: 4px;
                }
                .item-icon{
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}