#mobile-menu{
    display: none;
}
.m-phone-number-block{
    .phone-number-m{
        a{
            color: $color-white;
        }
    }
}
.mobile-block{
    display: none;
    @include breakpoint(max-width $desktop-width){
        display: block;
    }
}
.mobile-block .flex-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: $mobile-header-height;
    .svg-icon{
        position: relative;
        top: 4px;
    }
}
.top-menu-block{
    .bm-burger-button {
        top: 10px;
        left: 16px;
    }
    .bm-burger-bars{
        background-color: #fff;
    }
    .bm-menu{
        background-color: #fff;
        padding-top: 36px;
    }
    .bm-item-list{
        margin-left: 0;
    }
    .bm-item-list>* {
        display: flex;
        padding: 0em;
        text-decoration: none;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            a{
                text-decoration: none;
                color: #000;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 10px;
                padding-bottom: 10px;
                display: block;
                width: 100%;
                border-top: 1px solid #ccc;
                &:hover, .selected{
                    
                }
            }
        }
    }
    .bm-item-list{
        font-size: 16px;
    }
}
.bm-overlay{
    background-color: #fff!important;
    position: relative;
    &:before{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba(0,0,0,0.4);
    }
}