////___typography property____//////
$base-line-height: 1.5em;

////____colors property___//////
$color-primary:#000026;
$color-accent:#0061d9;
$color-dark: #333;
$color-accent-hover: #0050b1;
$color-primary-light :#e9f1ff;
$color-border: #ccc;
$color-white: #fff;
$color-body: #f7f7f7;
////////////////////////////////////


////////___size of layouts___///////
$container-max-width: 1210px;
$container-min-width: 320px;
$container-padding: 15px;
$container-padding-pad: 12px;

$mobile-header-height: 50px;

$desktop-width: 980px;
$pad-width: 680px;
$mobile-width: 480px;
$small-width: 380px;
$header-height: 250px;
$footer-height: 350px;
$sidebar-left: 300px;
$sidebar-margin: 20px;